<div class="container">
  <div class="flex">
    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(bf); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">BLAST VOLUME</div>
          <div class="td">{{ bf5_res.BLAST_VOLUME }}</div>
        </div>
        <div class="tr">
          <div class="td">BLAST PRESSURE</div>
          <div class="td">{{ bf5_res.BLAST_PRESSURE }}</div>
        </div>
        <div class="tr">
          <div class="td">GAS MAKE</div>
          <div class="td">0</div>
        </div>
        <div class="tr">
          <div class="td">Flare stack flow</div>
          <div class="td">{{ bf5_res.FLARE_STACK_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">Flare stack pressure</div>
          <div class="td">{{ bf5_res.FLARE_STACK_PRESSURE }}</div>
        </div>
        <div class="tr">
          <div class="td">Flare stack set point</div>
          <div class="td">0</div>
        </div>
        <div class="tr">
          <div class="td">snort position</div>
          <div class="td">{{ bf5_res.SNORT_POSITION }}</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(pbs2); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">COG (1,2,3)</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">BFG (1,2,3)</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">CBM GAS(1,2,3)</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">BOF GAS TOTAL</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(stove); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">stove 1 BF Gas</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">stove 2 BF Gas</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">stove 3 BF Gas</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">stove 4 BF Gas</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">co gas consumption</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">CDI COG CONSUMPTION</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(cob11); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">MAKE</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">PRESSURE</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">FLARE FLOW</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">FLARE PRESSURE</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">U/F N 1 BLOCK (COG+BFG)</div>
          <div class="td">Value 5</div>
        </div>
        <div class="tr">
          <div class="td">U/F N 2 BLOCK (COG+BFG)</div>
          <div class="td">Value 5</div>
        </div>
        <div class="tr">
          <div class="td">flare stack set point</div>
          <div class="td">Value 5</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(sinter); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">SP 1 (CO GAS) FLOW</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">PRESSURE</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">SP 2 FLOW (CO GAS)</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">PRESSURE</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">TOTAL FLOW</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(mills); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">WRM (MIX GAS)</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">BRM (MIX GAS)</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">USM (MIX GAS)</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">CBM FLOW</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">BOF GAS</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">TOTAL CONSUMPTION</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">MIX GAS PRESSURE</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">PESSURE INDIVISUAL MILL</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">CV</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(cob10); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">GEN</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">PRESSURE</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(ldcp); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(fale_stack_cog); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(bof_holder); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(bof_ccp); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(fale_stack_bfg); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(cbm); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(agbs_cgbs); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(micellanous); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
      </div>
    </div>
  </div>
</div>
