<div class="container">
  <div class="flex">
    <div class="col">
      <div class="box">
        <h2 class="overview_header">BF 5</h2>
        <div class="tr">
          <div class="td">BLAST VOLUME</div>
          <div class="td">123</div>
        </div>
        <div class="tr">
          <div class="td">BLAST PRESSURE</div>
          <div class="td">2</div>
        </div>
        <div class="tr">
          <div class="td">GAS MAKE</div>
          <div class="td">13</div>
        </div>
        <div class="tr">
          <div class="td">Flare stack flow</div>
          <div class="td">44</div>
        </div>
        <div class="tr">
          <div class="td">Flare stack pressure</div>
          <div class="td">4</div>
        </div>
        <div class="tr">
          <div class="td">Flare stack set point</div>
          <div class="td">4</div>
        </div>
        <div class="tr">
          <div class="td">snort position</div>
          <div class="td">4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">PBS#2 BOILER ( 1,2,3)</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">STOVE</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">COB#11</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">SINTER</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">MILL'S</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">COB10</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">LDCP</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">FALE STACK(COG)</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">BOF HOLDER</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">BOF/CCP</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">FALE STACK (BFG)</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">CBM</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">AGBS/CGBS</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">MICELLANOUS</h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">Label 2</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">Label 3</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">Label 4</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
  </div>
</div>
