<div class="container" style="overflow-y: auto">
  <div class="flex">
    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(cob10); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <!-- <div class="td">GEN</div> -->
          <div class="td">C.O. GAS MAKE [Th. Nm³/hr]</div>
          <div class="td">{{ cob10_res.benzol_scrubber_gasmake }}</div>
        </div>
        <div class="tr">
          <!-- <div class="td">PRESSURE</div> -->
          <div class="td">C.O. GAS PRESSURE [mmwc]</div>
          <div class="td">{{ cob10_res.cogas_supply_pressure }}</div>
        </div>
        <div class="tr">
          <!-- <div class="td">U/F N1 BLOCK</div> -->
          <div class="td">U/F TOTAL [Nm³/hr]</div>
          <div class="td">{{ cob10_res.cog_gasflow }}</div>
        </div>
        <!-- <div class="tr">
          <div class="td">U/F B-BLOCK [Nm³/hr]</div>
          <div class="td">Value 4</div>
        </div> -->
        <div class="tr">
          <!-- <div class="td">FLARE FLOW</div> -->
          <div class="td">FLARE STACK FLOW [Nm³/hr]</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">FLARE STACK PRESSURE [mmwc]</div>
          <div class="td">Value 4</div>
        </div>

        <div class="tr">
          <div class="td">FLARE STACK SET POINT [mmwc]</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(cob11); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <!-- <div class="td">MAKE</div> -->
          <div class="td">C.O. GAS MAKE [Nm³/hr]</div>
          <div class="td">{{ overview_res.MAKE }}</div>
        </div>
        <div class="tr">
          <div class="td">C.O. GAS PRESSURE [mmwc]</div>
          <div class="td">{{ overview_res.PRESSURE }}</div>
        </div>
        <div class="tr">
          <div class="td">U/F N 1 BLOCK COG CONS [Nm³/hr]</div>
          <div class="td">{{ overview_res.U_F_N_1_BLOCK_COG }}</div>
        </div>
        <div class="tr">
          <div class="td">U/F N 2 BLOCK COG CONS [Nm³/hr]</div>
          <div class="td">{{ overview_res.U_F_N_2_BLOCK_COG }}</div>
        </div>
        <div class="tr">
          <div class="td">U/F N 1 BLOCK BFG CONS [Nm³/hr]</div>
          <div class="td">{{ overview_res.U_F_N_1_BLOCK_BFG }}</div>
        </div>

        <div class="tr">
          <div class="td">U/F N 2 BLOCK BFG CONS [Nm³/hr]</div>
          <div class="td">{{ overview_res.U_F_N_2_BLOCK_BFG }}</div>
        </div>
        <div class="tr">
          <div class="td">FLARE STACK FLOW [Nm³/hr]</div>
          <div class="td">{{ overview_res.FLARE_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">FLARE STACK PRESSURE [mmwc]</div>
          <div class="td">{{ overview_res.FLARE_PRESSURE }}</div>
        </div>

        <div class="tr">
          <div class="td">FLARE STACK SET POINT [mmwc]</div>
          <div class="td">{{ overview_res.FLARE_STACK_SET_POINT }}</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(bf); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">BLAST VOLUME [Nm³/min]</div>
          <div class="td">{{ overview_res.BLAST_VOLUME }}</div>
        </div>
        <div class="tr">
          <div class="td">BLAST PRESSURE [Kg/cm²]</div>
          <div class="td">{{ overview_res.BLAST_PRESSURE.toFixed(2) }}</div>
        </div>
        <div class="tr">
          <div class="td">BF GAS MAKE [Th. Nm³/hr]</div>
          <div class="td">
            {{ (overview_res.BLAST_VOLUME * 1.52 * (60 / 1000)).toFixed(2) }}
          </div>
        </div>
        <div class="tr">
          <div class="td">FLARE STACK FLOW [Nm³/hr]</div>
          <div class="td">{{ overview_res.FLARE_STACK_FLOW.toFixed(2) }}</div>
        </div>
        <div class="tr">
          <div class="td">FLARE STACK PRESSURE [mmwc]</div>
          <div class="td">
            {{ overview_res.FLARE_STACK_PRESSURE.toFixed(2) }}
          </div>
        </div>
        <div class="tr">
          <div class="td">FLARE STACK SET POINT [mmwc]</div>
          <div class="td">ADD TAG</div>
        </div>
        <div class="tr">
          <div class="td">SNORT VALVE POSITION</div>
          <div class="td">{{ overview_res.SNORT_POSITION.toFixed(2) }}</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(stove); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">STOVE 1 BF GAS CONS [Nm³/hr]</div>
          <div class="td">{{ overview_res.STOVE_1_BF_GAS }}</div>
        </div>
        <div class="tr">
          <div class="td">STOVE 2 BF GAS CONS [Nm³/hr]</div>
          <div class="td">{{ overview_res.STOVE_2_BF_GAS }}</div>
        </div>
        <div class="tr">
          <div class="td">STOVE 3 BF GAS CONS [Nm³/hr]</div>
          <div class="td">{{ overview_res.STOVE_3_BF_GAS }}</div>
        </div>
        <div class="tr">
          <div class="td">STOVE 4 BF GAS CONS [Nm³/hr]</div>
          <div class="td">{{ overview_res.STOVE_4_BF_GAS }}</div>
        </div>
        <div class="tr">
          <div class="td">C.O. GAS CONSUMPTION [Nm³/hr]</div>
          <div class="td">{{ overview_res.BF_COF }}</div>
        </div>
        <div class="tr">
          <div class="td">CDI COG CONSUMPTION</div>
          <div class="td">ADD TAG</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(sinter); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">SP 1 C.O. GAS FLOW [Nm³/hr]</div>
          <div class="td">{{ overview_res.SP1_MIXGASF }}</div>
        </div>
        <div class="tr">
          <div class="td">SP1 COG PRESSURE [mbar]</div>
          <div class="td">{{ overview_res.SP1_MIXGASPRESS }}</div>
        </div>
        <div class="tr">
          <div class="td">SP 2 FLOW (CO GAS)</div>
          <div class="td">{{ overview_res.SP2_MIXGASF }}</div>
        </div>
        <div class="tr">
          <div class="td">PRESSURE</div>
          <div class="td">{{ overview_res.SP2_MIXGASPRESS }}</div>
        </div>
        <div class="tr">
          <div class="td">TOTAL FLOW</div>
          <div class="td">Value 4</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(bof_ccp); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">CO GAS CONSUMPTION INDIVIDUAL</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">CBM GAS CONSUMPTION</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">RUNNING STATUS</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">BOF(1,2,3)</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">CCP(1,2,3)</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(bof_holder); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">HOLDER HEIGHT [metre]</div>
          <div class="td">{{ overview_res.GASHOLDERLVL }}</div>
        </div>
        <div class="tr">
          <div class="td">GAS HLD PRESSURE [mmWC]</div>
          <div class="td">{{ overview_res.GASHOLDERPRES }}</div>
        </div>
        <div class="tr">
          <div class="td">EXPORTED PBS#2 [Nm3/hr]</div>
          <div class="td">{{ overview_res.EXPORTEDGAS }}</div>
        </div>
        <div class="tr">
          <div class="td">EXPORTED MILL'S [Nm3/hr]</div>
          <div class="td">{{ overview_res.GAS_FLOW_mills }}</div>
        </div>
        <div class="tr">
          <div class="td">TOTAL EXPORTED</div>
          <div class="td">
            {{
              overview_res.EXPORTEDGAS + overview_res.GAS_FLOW_mills
                | number : "1.2-2"
            }}
          </div>
        </div>
        <div class="tr">
          <div class="td">LAST HEAT RECOVERY VOL</div>
          <div class="td">{{ overview_res.BOF_GASRECTOT }}</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(ldcp); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">K 1 FLOW</div>
          <div class="td">{{ overview_res.K_1_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">K 2 FLOW</div>
          <div class="td">{{ overview_res.K_2_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">K 3 FLOW</div>
          <div class="td">{{ overview_res.K_3_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">K 4 FLOW</div>
          <div class="td">{{ overview_res.K_4_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">INLET PRESSURE</div>
          <div class="td">{{ overview_res.INLET_PRESSURE }}</div>
        </div>
        <div class="tr">
          <div class="td">TOTAL CONSUMPTION</div>
          <div class="td">{{ overview_res.TOTAL_CONSUMPTION }}</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(mills); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">WRM (MIX GAS FLOW)</div>
          <div class="td">{{ overview_res.MG_WRM_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">BRM (MIX GAS FLOW)</div>
          <div class="td">{{ overview_res.MG_BRM_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">USM (MIX GAS FLOW)</div>
          <div class="td">{{ overview_res.MG_USM_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">TOTAL CONSUMPTION</div>
          <div class="td">{{ overview_res.TOTAL_FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">WRM (MIX GAS PESSURE)</div>
          <div class="td">{{ overview_res.MG_WRM_PRESSURE }}</div>
        </div>
        <div class="tr">
          <div class="td">BRM (MIX GAS PESSURE)</div>
          <div class="td">{{ overview_res.MG_BRM_PRESSURE }}</div>
        </div>
        <div class="tr">
          <div class="td">URM (MIX GAS PESSURE)</div>
          <div class="td">{{ overview_res.MG_USM_PRESSURE }}</div>
        </div>
        <div class="tr">
          <div class="td">MIX GAS PRESSURE</div>
          <div class="td">ADD TAG</div>
        </div>
        <div class="tr">
          <div class="td">CV</div>
          <div class="td">{{ overview_res.CV }}</div>
        </div>
        <div class="tr">
          <div class="td">CBM FLOW</div>
          <div class="td">ADD TAG</div>
        </div>
        <div class="tr">
          <div class="td">BOF GAS</div>
          <div class="td">{{ overview_res.BOF_FLOW }}</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(fale_stack_bfg); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">FLARE STACK (BFG) FLOW</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">PRESSURE</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">SET POINT (BFG)</div>
          <div class="td">Value 3</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(fale_stack_cog); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">FLARE STACK (COG) FLOW</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">PRESSURE</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">SET POINT (COG)</div>
          <div class="td">Value 3</div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(cbm); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">M 1 TOTALIZER [SCM]</div>
          <div class="td">{{ overview_res.M1VOLUME }}</div>
        </div>
        <div class="tr">
          <div class="td">M 1 FLOW [SCM/hr]</div>
          <div class="td">{{ overview_res.M1FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">M 2 TOTALIZER [SCM]</div>
          <div class="td">{{ overview_res.M2VOLUME }}</div>
        </div>
        <div class="tr">
          <div class="td">M 2 FLOW [SCM/hr]</div>
          <div class="td">{{ overview_res.M2FLOW }}</div>
        </div>
        <div class="tr">
          <div class="td">INLET PRESSURE</div>
          <div class="td">{{ overview_res.INLETPRESSURE }}</div>
        </div>
        <div class="tr">
          <div class="td">OUTLET PRESSURE</div>
          <div class="td">{{ overview_res.OUTLETPRESSURE }}</div>
        </div>
        <div class="tr">
          <div class="td">MILL FLOW</div>
          <div class="td">Value 4</div>
        </div>
        <div class="tr">
          <div class="td">PBS FLOW [Nm3/hr]</div>
          <div class="td">{{ overview_res.CBM_GAS123 }}</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(agbs_cgbs); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">AGBS old to new (COG) FLOW</div>
          <div class="td">Value 1</div>
        </div>
        <div class="tr">
          <div class="td">CGBS plant (COG) FLOW</div>
          <div class="td">Value 2</div>
        </div>
        <div class="tr">
          <div class="td">AGBS BOOSET RUNNING STATUS & FREQUENCY</div>
          <div class="td">Value 3</div>
        </div>
        <div class="tr">
          <div class="td">CGBS BOOSTER RUNNING STATUS & OPENING</div>
          <div class="td">Value 4</div>
        </div>
      </div>
      <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(pbs2); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">COG (1,2,3)</div>
          <div class="td">{{ overview_res.BFG123 }}</div>
        </div>
        <div class="tr">
          <div class="td">BFG (1,2,3)</div>
          <div class="td">{{ overview_res.COG123 }}</div>
        </div>
        <div class="tr">
          <div class="td">CBM GAS(1,2,3)</div>
          <div class="td">{{ overview_res.CBM_GAS123 }}</div>
        </div>
        <div class="tr">
          <div class="td">BOF GAS TOTAL</div>
          <div class="td">{{ overview_res.BOF_GAS_TOTAL }}</div>
        </div>
      </div>
      <!-- <div class="box">
        <h2 class="overview_header">
          <span
            *ngFor="let letter of splitLetters(micellanous); let i = index"
            [style.animation-delay]="i * 0.2 + 's'"
          >
            {{ letter }}
          </span>
        </h2>
        <div class="tr">
          <div class="td">Label 1</div>
          <div class="td">Value 1</div>
        </div>
      </div> -->
    </div>
  </div>
</div>
