<!-- <p>mills works!</p> -->

<!-- <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [title]="chartOptions.title"
    [colors]="chartOptions.colors" [plotOptions]="chartOptions.plotOptions" [legend]="chartOptions.legend"
    [tooltip]="chartOptions.tooltip"></apx-chart> -->


<!-- <div class="chart-container"> -->
<div class="chart-box">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [title]="chartOptions.title"
        [colors]="chartOptions.colors" [plotOptions]="chartOptions.plotOptions" [legend]="chartOptions.legend"
        [tooltip]="chartOptions.tooltip">
    </apx-chart>

    <div class="info-boxes">
        <div class="box calculated">
            <p><strong>Calculated</strong></p>
            <p>CV kcal/Nm₃</p>
        </div>
        <div class="box auto-mode">
            <p><strong>Auto mode</strong></p>
            <p>CV kcal/Nm₃</p>
        </div>
    </div>
</div>
<!-- </div> -->