<!-- <div class="gasflow-container">
  <h2 class="title">CO GAS FLOW</h2>

  <div class="tree">
    Top Node (BPP)
    <div class="node generation">
      <div class="header">BPP</div>
      <div class="sub-title red">Generation</div>
      <div class="labels">
        <span>Flow</span><span>Pressure</span>
      </div>
      <div class="values">
        <div>
          <div class="value">42248.59</div>
          <div class="unit">Nm³/hr</div>
        </div>
        <div>
          <div class="value">893.91</div>
          <div class="unit">mmwc</div>
        </div>
      </div>
    </div>

    Connector below BPP
    <div class="connector-vertical main"></div>

    3 Columns of Consumers
    <div class="branch">

      LEFT COLUMN
      <div class="col">
        <div class="node consumption">
          <div class="header">COB-B2</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">9016.58</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
        <div class="connector-vertical"></div>
        <div class="node consumption">
          <div class="header">CDCP</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">49.15</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="node consumption">
          <div class="header">BOF</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">#COM</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
        <div class="connector-vertical"></div>
        <div class="node consumption">
          <div class="header">Flare Stk</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">#COM</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>

      MIDDLE COLUMN
      <div class="col">
        <div class="node consumption">
          <div class="header">COB-B1</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">0.00</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>

        <div class="connector-vertical"></div>

        <div class="node consumption">
          <div class="header">BF-5</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">#COM</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>


      </div>


      RIGHT COLUMN
      <div class="col">
        <div class="node consumption">
          <div class="header">CCP</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">#COM</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>

        <div class="connector-vertical"></div>

        <div class="node consumption">
          <div class="header">PBS</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">13600.19</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>


      </div>
      <div class="col">
        <div class="node consumption">
          <div class="header">LDCP</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">#COM</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
        <div class="connector-vertical"></div>
        <div class="node consumption">
          <div class="header">LF&RH</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">#COM</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->