<!-- <div class="container">
  <div class="detail-view">
    <h3>Detail View</h3>
    <div class="detail-content">
      <p>
        Select a node to view its details. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Distinctio quod vero facilis quia quam ad
        blanditiis asperiores in facere, iste nam animi ab soluta alias repellat
        ullam enim deleniti amet.
      </p>
    </div>
  </div>

  <div class="tree">
    <ngx-org-chart [nodes]="nodes" direction="vertical"></ngx-org-chart>
  </div>
</div> -->


<div class="layout-container">
  <div class="detail-view">
    <h3>Detail View</h3>
    <div class="detail-content">
      <p>
        Select a node to view its details. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Distinctio quod vero facilis quia quam ad
        blanditiis asperiores in facere, iste nam animi ab soluta alias repellat
        ullam enim deleniti amet.
      </p>
    </div>
  </div>

  <div class="gasflow-container">
    <h2 class="title">COB11</h2>

    <div class="tree">
      <!-- Continuous main vertical line -->
      <div class="main-line"></div>

      <!-- Top Node -->
      <div class="node generation">
        <div class="header">BPP</div>
        <div class="sub-title red">Generation</div>
        <div class="labels">
          <span>Flow</span><span>Pressure</span>
        </div>
        <div class="values">
          <div>
            <div class="value">42248.59</div>
            <div class="unit">Nm³/hr</div>
          </div>
          <div>
            <div class="value">893.91</div>
            <div class="unit">mmwc</div>
          </div>
        </div>
      </div>

      <!-- LEVEL 1 -->
      <!-- <div class="branch">
      <div class="node consumption left">
        <div class="header">COB-B1</div>
        <div class="sub-title green">Consumption</div>
        <div class="labels"><span>Flow</span></div>
        <div class="values">
          <div>
            <div class="value">9016.58</div>
            <div class="unit">Nm³/hr</div>
          </div>
        </div>
      </div>

      <div class="node consumption right">
        <div class="header">COB-B2</div>
        <div class="sub-title green">Consumption</div>
        <div class="labels"><span>Flow</span></div>
        <div class="values">
          <div>
            <div class="value">0.00</div>
            <div class="unit">Nm³/hr</div>
          </div>
        </div>
      </div>
    </div> -->

      <!-- LEVEL 1 -->
      <div class="branch single-left" style="margin-top: 2%;">
        <div class="node consumption left">
          <div class="header">U/F Total Flow</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">9016.58</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
          <div class="labels">
            <span>N1</span><span>N2</span>
          </div>
          <div class="values">
            <div>
              <div class="value">42248.59</div>
              <div class="unit">Nm³/hr</div>
            </div>
            <div>
              <div class="value">893.91</div>
              <div class="unit">mmwc</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Example: Single right-side node -->
      <div class="branch single-right">
        <div class="node consumption right">
          <div class="header">PBS</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">12345.67</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>





      <!-- LEVEL 1 -->
      <div class="branch single-left">
        <div class="node consumption left">
          <div class="header">BF-5</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">9016.58</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Example: Single right-side node -->
      <div class="branch single-right">
        <div class="node consumption right">
          <div class="header">Mills</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">12345.67</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>




      <!-- LEVEL 1 -->
      <div class="branch single-left">
        <div class="node consumption left">
          <div class="header">Sinter</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">9016.58</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Example: Single right-side node -->
      <div class="branch single-right">
        <div class="node consumption right">
          <div class="header">LDCP</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">12345.67</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>




      <!-- LEVEL 1 -->
      <div class="branch single-left">
        <div class="node consumption left">
          <div class="header">Flare Stack</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">9016.58</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>

      <!-- LEVEL 5 -->
      <div class="branch single">
        <div class="node consumption center">
          <div class="header">Waste</div>
          <div class="sub-title green">Consumption</div>
          <div class="labels"><span>Flow</span></div>
          <div class="values">
            <div>
              <div class="value">#COM</div>
              <div class="unit">Nm³/hr</div>
            </div>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>