<div class="container">
  <div class="detail-view">
    <h3>Detail View</h3>
    <div class="detail-content">
      <p>
        Select a node to view its details. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Distinctio quod vero facilis quia quam ad
        blanditiis asperiores in facere, iste nam animi ab soluta alias repellat
        ullam enim deleniti amet.
      </p>
    </div>
  </div>

  <div class="tree">
    <ngx-org-chart [nodes]="nodes" direction="vertical"></ngx-org-chart>
  </div>
</div>
