<!-- <p>agbs works!</p> -->
<div class="charts-container">
    <div class="chart-box">
        <apx-chart [series]="agbsChart.series" [chart]="agbsChart.chart" [xaxis]="agbsChart.xaxis"
            [yaxis]="agbsChart.yaxis" [dataLabels]="agbsChart.dataLabels" [title]="agbsChart.title"
            [colors]="agbsChart.colors" [plotOptions]="agbsChart.plotOptions" [tooltip]="agbsChart.tooltip">
        </apx-chart>
    </div>

    <div class="chart-box">
        <apx-chart [series]="cgbsChart.series" [chart]="cgbsChart.chart" [xaxis]="cgbsChart.xaxis"
            [yaxis]="cgbsChart.yaxis" [dataLabels]="cgbsChart.dataLabels" [title]="cgbsChart.title"
            [colors]="cgbsChart.colors" [plotOptions]="cgbsChart.plotOptions" [tooltip]="cgbsChart.tooltip">
        </apx-chart>
    </div>
</div>