<!-- <div class="container">
  <h1>Dashboard</h1>
</div> -->

<div class="dashboard-wrapper container">
  <div class="animated-bg">
    <div class="orb orb1"></div>
    <div class="orb orb2"></div>
  </div>

  <div class="container">
    <!-- <h1 class="dashboard-title animated-underline">Dashboard</h1> -->

    <div class="charts-grid">
      <!-- Radial Chart 1 -->
      <div class="box chart-card fade-in">
        <h3 class="overview_header">
          <span [style.animation-delay]="'Compressor 1 Pressure'">
            Compressor 1 Pressure</span>
        </h3>
        <apx-chart [series]="radialChart1.series" [chart]="radialChart1.chart" [labels]="radialChart1.labels"
          [colors]="radialChart1.colors" [responsive]="radialChart1.responsive">
        </apx-chart>
      </div>

      <!-- Radial Chart 2 -->
      <div class="box chart-card fade-in delay-1">
        <h3 class="overview_header"> <span [style.animation-delay]="'Compressor 2 Pressure'">Compressor 2 Flow</span>
        </h3>
        <apx-chart [series]="radialChart2.series" [chart]="radialChart2.chart" [labels]="radialChart2.labels"
          [colors]="radialChart2.colors" [responsive]="radialChart2.responsive">
        </apx-chart>
      </div>

      <!-- ✅ Radial Chart 3 -->
      <div class="box chart-card fade-in delay-2">
        <h3 class="overview_header">
          <span [style.animation-delay]="'Compressor 3 Pressure'">Compressor 3 Pressure</span>
        </h3>
        <apx-chart [series]="radialChart3.series" [chart]="radialChart3.chart" [labels]="radialChart3.labels"
          [colors]="radialChart3.colors" [responsive]="radialChart3.responsive">
        </apx-chart>
      </div>

      <!-- ✅ Radial Chart 4 -->
      <div class="box chart-card fade-in delay-3">
        <h3 class="overview_header">
          <span [style.animation-delay]="'Compressor 4 Flow'">Compressor 4 Flow</span>
        </h3>
        <apx-chart [series]="radialChart4.series" [chart]="radialChart4.chart" [labels]="radialChart4.labels"
          [colors]="radialChart4.colors" [responsive]="radialChart4.responsive">
        </apx-chart>
      </div>
    </div>

    <!-- Line Chart -->
    <div class="box line-chart fade-in delay-2">
      <h3 class="overview_header"> <span [style.animation-delay]="'Compressor Performance Trend'">Compressor Performance
          Trend</span></h3>
      <apx-chart [series]="lineChart.series" [chart]="lineChart.chart" [dataLabels]="lineChart.dataLabels"
        [stroke]="lineChart.stroke" [title]="lineChart.title" [xaxis]="lineChart.xaxis" [yaxis]="lineChart.yaxis"
        [colors]="lineChart.colors" [legend]="lineChart.legend" [tooltip]="lineChart.tooltip">
      </apx-chart>
    </div>
  </div>
</div>