<!-- <div class="footer">
  <div>
    All rights reserved | Design & Developed by Computer & Automation
    Department, SAIL-ISP Burnpur
  </div>
</div> -->

<div class="footer">

  <!-- <div class="curve">
    <div class="wave wave-one"></div>
    <div class="wave wave-two"></div>
    <div class="wave wave-three"></div>
  </div> -->
  <!-- <div class="circles">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div> -->
  <!-- <div class="analog-clock">
    <div class="hand hour" [ngStyle]="{ transform: hourTransform }"></div>
    <div class="hand minute" [ngStyle]="{ transform: minuteTransform }"></div>
    <div class="hand second" [ngStyle]="{ transform: secondTransform }"></div>
    <div class="center-dot"></div>
  </div> -->

  <div class="footer-content">
    All rights reserved | Design & Developed by IAD - A&D, SAIL-ISP Burnpur
  </div>
  <!-- <p id="time">
    {{ currentDateTime | date : "fullDate" }} -
    {{ currentDateTime | date : "mediumTime" }}
  </p> -->
</div>